/* GDP Element Styles */

/* This is the primary settings for the buttons on the dropdown in the toolbar: */
.btn-toolbar {
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:0px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  min-width: 100%;
}

/*
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);

}

*/

.jc-modal-open {
  overflow: hidden;
}
.jc-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.jc-modal.fade .jc-modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.jc-modal.in .jc-modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.jc-modal-open .jc-modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.jc-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.jc-modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.jc-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.jc-modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.jc-modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.jc-modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.jc-modal-header .close {
  margin-top: -2px;
}
.jc-modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.jc-modal-body {
  position: relative;
  padding: 15px;
}
.jc-modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.jc-modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.jc-modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.jc-modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.jc-modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .jc-modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .jc-modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .jc-modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .jc-modal-lg {
    width: 900px;
  }
}

.transition-slide-up .modal-dialog {
  
  opacity: 1.0 !important;
  transform: scale(1.0) translate3d(0,0,0) !important;

}

/*
.transition-slide-up.active {
  opacity: 0.0;
  transform: scale(0.95) translate3d(0,100%,0) !important;
  transition: transform 400ms ease, opacity 400ms ease !important;
  
  opacity: 1.0;
  transform: scale(1.0) translate3d(0,0,0);
}

.transition-slide-up.inactive {
  opacity: 0.0;
  transform: scale(1) translate3d(0,0,0);
}
*/
/* These will be separate settings to define the look of each state's button: */

.clr-WA {
  background-color: yellow;
  color: black;
}

.clr-NT {
  background-color: #FFA500;
  color: black;
}

.clr-SA {
  background-color: #d9534f;
  color: yellow; 
}

.clr-QLD {
  background-color: maroon;
  color: yellow;  
}

.clr-NSW {
  background-color: #31b0d5;
  color: white;   
}

.clr-VIC {
  background-color: #777;
  color: white; 
}

.clr-TAS {
  background-color: #449d44;
  color: black;  
}