<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

	<title>Settlers Redux</title>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/static/jquery-ui/jquery-ui.structure.min.css" rel="stylesheet">
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/jquery-ui/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<style>

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  fill: none;
  stroke: #bbb;
  stroke-width: 0.5px;
}

.fill {
	height: 100%;
	min-height: 100%;
	background-color: #fff;
}

.ctr {
	text-align: center;
}

html, body {
	height: 100%;
	min-height: 100%;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Polar Politico Fantastico</a>
          <a class="navbar-brand" href="#"><img alt="Brand" src="/static/images/polar.png" width="20%" margin-top="0px" padding="0px"></a>
          
        </div>
      </div>
    </nav>
	<div class="row">
		<div class="col-lg-12 ctr"><h2>{{ house }} - {{ year }}<h2></div>
	</div>
	<div class="row">
		<div class="col-lg-12 ctr">House of Representatives:
			<a href="/house/2015">2015</a> - <a href="/house/2014">2014</a> - <a href="/house/2013">2013</a> - <a href="/house/2012">2012</a> - <a href="/house/2011">2011</a> - <a href="/house/2010">2010</a> - <a href="/house/2009">2009</a> - <a href="/house/2008">2008</a> - <a href="/house/2007">2007</a> - <a href="/house/2006">2006</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 ctr">Senate:
			<a href="/senate/2015">2015</a> - <a href="/senate/2014">2014</a> <a href="/senate/2013">2013</a> - <a href="/senate/2012">2012</a> - <a href="/senate/2011">2011</a> - <a href="/senate/2010">2010</a> - <a href="/senate/2009">2009</a> - <a href="/senate/2008">2008</a> - <a href="/senate/2007">2007</a> - <a href="/senate/2006">2006</a>
		</div>
	</div>
<div class="col-lg-2">
<h4>About Politico Fantastico</h4>
<p>Polar Politico Fantastico is a hack of Hansard Political Proceeding using the They Vote For You API to see how closely aligned government voting is when a division is called.</p>
<p>Utilizing a network graph in D3js we can show the voting relationship between our politcians and begin to understand how the parties works together or not and whether individual candidates vote similarly to each other.</p>

<p><i>The graph needs about 20-30 seconds to caluculate the voting relationships. This is animated, but it may seem jerky due to the large number of graph edges.</i></p>

<p><b>Legend</b></p>
<p>The Liberal party is <span style="color:#0000ff">BLUE</span><br>
<p>The Labor Party is <span style="color:#ff0000">RED</span><br>
<p>The National Party is <span style="color:#ffff00">YELLOW</span><br>
<p>The Greens Party is <span style="color:#006400">GREEN</span></p>

<p><b>About</b></p>
<p><a href="http://bitbucket.org/settlersofgovhack/polar">Source</a><br>
<p><a href="http://govhack2015.scriptforge.org/category/polar-app">Blog</a><br>
<p><a href="https://hackerspace.govhack.org/content/polar-polictico-fantastico">GovHack 2015 Project Page</a></p>
</div>
<div class="col-lg-10 container-fluid fill" id="graphdiv">
</div>

<script>
$(document).ready(function() {

var width=$("#graphdiv").width();
var height=$("#graphdiv").height();
console.log(width+" "+height);
var color = d3.scale.category20();

var force = d3.layout.force()
	.linkDistance(10)
	.linkStrength(2)
	.gravity(2)
	.size([width, height]);

var svg = d3.select("#graphdiv").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("/static/{{ datafile }}", function(error, graph) {
  if (error) throw error;

  var nodes = graph.nodes.slice(),
      links = [],
      bilinks = [];
  graph.links.forEach(function(link) {
    var s = nodes[link.source],
        t = nodes[link.target],
        i = {}; // intermediate node
    nodes.push(i);
    links.push({source: s, target: i}, {source: i, target: t});
    bilinks.push([s, i, t]);
  });




  // Start the force animation
  force
      .nodes(nodes)
      .links(links)
      .start();

/*  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.value); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { return color(0); })
      .call(force.drag);
*/

  var link = svg.selectAll(".link")
      .data(bilinks)
    .enter().append("path")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(graph.nodes)
    .enter().append("circle")
      .attr("class", "node")
      .attr("r", 5)
      .style("fill", function(d) { if (d.colour == "blue") {return '#0000ff';}
			else if (d.colour == "red") { return '#ff0000'; }
			else if (d.colour == "green") { return '#006400'; }
			else if (d.colour == "yellow") { return '#ffff00'; }
			else { return '#000000'; }
	 })
      .call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("d", function(d) {
      return "M" + d[0].x + "," + d[0].y
          + "S" + d[1].x + "," + d[1].y
          + " " + d[2].x + "," + d[2].y;
    });
    node.attr("transform", function(d) {
      return "translate(" + d.x + "," + d.y + ")";
    });
  });

/*  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  });
*/
});

var ticksPerRender = 600;

requestAnimationFrame(function render() {

  for (var i = 0; i < ticksPerRender; i++) {
    force.tick();
  }

  // UPDATE NODE AND LINK POSITIONS HERE

  if (force.alpha() > 0) {
    requestAnimationFrame(render);
  }
});

}); // document.ready
</script>

</body>
</html>
